/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
    background:url('https://upload.cc/i1/2020/05/25/gHqJAG.png') center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
h1{
    padding-top:50px;
    font-size:100px;
    text-align: center;
    font-family:fantasy;
}
    
    
    
.wrap{
    padding-top:100px;    
    width:550px;
    margin:0 auto;
    
}
    
.typeclass{
        font-size:20px;
        border:3px solid black;
        width:478px;
    
}
.btn-primary{
   
    font-size:20px;
    background:#AA7700;
  
}
.btnclass{
    text-decoration:none;
    margin-right:10px;
    color:black;
    padding: 4px 12px;
    border: 1px solid #AA7700;
    border-radius: 5px;
    width: auto;
    font-size: 16px;
    background: #AA7700;
    outline: none;
}

.btnclass:hover {
    border: 1px solid #FFF8DC;
    color: #FFF8DC;
    cursor: grab;
  }
.active{
    
    border: 2px solid #FFF8DC;
    font-weight: 600;
    color: #FFF8DC;
    
}
  
.card-header{
    margin-top:20px;
    width:400px;
}
.nav-tabs{
    display:flex;
    justify-content: flex-start;
}
.list-group-item{
    /* border:2px solid black; */
    font-size:20px;
    padding-top:5px;
    padding-bottom:5px;
}
.form-control{
    font-size:20px;
    width:400px;
}



.list-group{
    margin-top:20px;

}
.list{
    padding-top:20px;
}
.list li{
    padding:5px;
    padding-right:5px;
    border-bottom: 3px dashed #FFAC55 ;
    font-size:20px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.delclass{
    padding-right:10px;
} 
.completed {
    text-decoration: line-through
  }





  .active{
}
    /* @media(max-width:768px){
        h1{
            font-size:60px;
        }
        .imgclass{
            display:none;
        }
    } */
       
    